body {
	color: #000;
	background-color: #eee;
}
h1, h2, h3, h4, h5, h6, dt {
	font-family: sans-serif;
}
dt {
	font-weight: bold;
}
a {
	color: #36c;
}
a:visited {
	color: #36c;
}
a:hover {
	color: #6c3;
}
img {
	border: 0;
}
#header {
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
#home  {
	font-size: 250%;
	display: inline;
}
#home a {
	text-decoration: none;
	padding: 0 0.25em;
}
#tagline {
	font-size: 125%;
	display: inline;
}
#menu {
	margin: 0;
	font-weight: bold;
	font-size: 125%;
}
#menu li {
	display: inline;
}
.unthemed {
	font-weight: normal;
}
#user_controls {
	margin: 0.5em;
	padding: 0.5em;
	border-top: solid thin;
}
#user_controls li {
	display: inline;
}
#user {
	font-weight: bold;
}
#user_class {
	font-size: 75%;
	font-style: italic;
}
#edit_controls {
	text-align: right;
}
#content_title {
	padding: 0;
	margin: 0 0 1em;
	border-bottom: solid 1px;
}

#content {
	margin: 0 1em;
	color: #000;
	background-color: #fff;
	font-family: serif;
	padding: 1em 1em;
	border: solid thin;
}
#content p {
	text-indent: 1.5em;
}
#mod_time {
	text-indent: 2em;
	font-style: italic;
	font-size: 85%;
}
#footer {
	text-align: center;
}
#footer li {
	display: inline;
}
#copyright {
	text-align: center;
	padding-bottom: 1em;
}
#edit_form {
	display: none;
	background-color: #eee;
	padding: 1em;
	border: solid thin;
	margin-bottom: 1em;
}
#edit_form p {
	text-indent: 0;
}
#page_data {
	width: 100%;
}

#update_button {
	display: none;
}
