body {
	color: #000;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6, dt {
	font-family: sans-serif;
}

dt {
	font-weight: bold;
}

a {
	color: #36c;
}
a:visited {
	color: #36c;
}
a:hover {
	color: #6c3;
}

img {
	border: 0;
}

.dump {
	padding: 1em;
}

.header {
	padding: 1em 1em;
	height: 3em;
	position: relative;
	border-bottom: solid thin;
}

#tinfoil {
	margin: 0;
	font-size: 250%;
}

#tinfoil a {
	text-decoration: none;
	padding: 0 0.25em;
	z-index: 1;
}

.tagline {
	position: absolute;
	left: 10em;
	top: 1.5em;
	text-decoration: underline;
	font-size: 125%;
}

.sidebar {
	border-right: thin solid;
	border-bottom: thin solid;
	background-color: #eee;
	position: absolute;
	width: 10em;
	z-index: 2;
	text-align: center;
	font-family: sans-serif;
	padding: 0 1em;
}

.sidebar a {
	text-decoration: none;
	padding: 0 0.25em;
}

.sidebar ul {
	margin: 0.5em 0;
}

.sidebar ul li {
	list-style-type: none;
	margin-top: .1em;
}

.login {
	padding-top: 0.75em;
	margin-bottom: 1em;
	border-bottom: thin solid;
}

.themed {
	text-align: right;
	font-weight: bold;
}

.unthemed {
	text-align: right;
	font-style: italic;
	padding-bottom: 1em;
	border-bottom: thin solid;
}

.icons {
	width: 100%;
	padding: 0.5em 0 0.5em;
	border-bottom: thin solid;
}

.copyright {
	text-align: center;
	text-decoration: none;
	padding-top: 0.5em;
}

.content {
	margin: 0;
	color: #000;
	background-color: #fff;
	position: absolute;
	left: 12em;
	font-family: serif;
	text-align: justify;
	padding: 1em 2em;
}

.content p {
	text-indent: 1.5em;
}

.content_title h2 {
	padding: 0;
	margin: 0 0 1em;
	border-bottom: solid 1px;
}

.mod_time {
	margin: 0.5em;
	margin-left: 0;
	border-top: solid 1px;
	font-family: sans-serif;
	font-style: italic;
	font-size: 85%;
}

.note {
	font-style: italic;
	font-size: 80%;
}

.noindent {
	text-indent: 0;
}

}
